langchain==0.3.25
langchain-core==0.3.65
langchain-community==0.3.25
langchain-text-splitters==0.3.8
langchain-experimental==0.3.4
chromadb==0.6.3
langchain-chroma==0.2.4
httpx==0.28.1
pydantic-settings==2.9.1
python-dotenv==1.1.0
tensorlake==0.5.47
tqdm==4.67.1
pymupdf==1.25.5
pymupdf4llm==0.0.17
streamlit==1.45.1
rank-bm25==0.2.2
